@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

body {
  margin: 0;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(250, 250, 250);
}

.darkmode h1 {
  background-color: rgb(0, 0, 0);
}

.darkmode {
  background-color: rgb(47, 49, 54);
}

.darkmode .link {
  background-color: rgb(47, 49, 54);
  color: white;
}

.link {
  color: rgb(47, 49, 54);
}

.link:hover {
  color: rgb(0, 0, 0);
}

.logo {
  width: 150px;
  height: 70px;
  padding: 20px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(89, 92, 102);
  margin-left: 90%;
}
.darkmode button {
  background-color: white;
}

h1 {
  background-color: rgb(0, 155, 216);
  font-weight: 300px;
  padding: 20px;
  font-size: 50px;
  color: rgb(250, 250, 250);
}
a {
  color: white;
  text-decoration: underline;
}
p {
  padding: 20px;
}

ul,
li {
  background-color: rgb(250, 250, 250);
  padding: 20px;
}

header {
  background-color: rgb(250, 250, 250);
  padding-bottom: 10px;
  box-shadow: 0 1px 3px rgb(142, 157, 168);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: rgb(0, 155, 216);
  margin-top: 50px;
}
/*latest projects on index*/
.latestprojects {
  padding: 30px;
  width: 96%;
  color: rgb(0, 155, 216);
}

/*DARKMODE*/
.darkmode footer {
  background-color: black;
  color: white;
}

.darkmode .latestprojects {
  color: rgb(250, 250, 250);
}

.darkmode p {
  color: rgb(250, 250, 250);
}

.darkmode .schools {
  color: rgb(250, 250, 250);
  background-color: rgb(47, 49, 54);
}

.picture img {
  width: 100%;
}

.topnav {
  background: rgb(250, 250, 250);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  overflow: hidden;
}

.topnav nav {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: nowrap;
}

.topnav nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  padding: 50px;
  position: relative;
}

.topnav a:hover {
  color: #000;
}

.topnav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 20px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.topnav nav a:hover::before {
  width: 100%;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.Tlogo {
  width: 100px;
  height: 90px;
  padding: 20px;
}
/**/
.beginning {
  height: 30%;
}

