
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

body {
  margin: 0;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(250, 250, 250);
}

.darkmode h1 {
  background-color: rgb(0, 0, 0);
}

.darkmode {
  background-color: rgb(47, 49, 54);
}

.darkmode .link {
  background-color: rgb(47, 49, 54);
  color: white;
}

.link {
  color: rgb(47, 49, 54);
}

.link:hover{
  color: rgb(0, 0, 0);
}

.logo{
  width: 150px;
  height:70px;
  padding: 20px;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(89, 92, 102);
  margin-left: 90%;
}
.darkmode button {
  background-color: white;
}

h1 {
  background-color: rgb(0, 155, 216);
  font-weight: 300px;
  padding: 20px;
  font-size: 50px;
  color: rgb(250, 250, 250);
}
a {
  color: white;
  text-decoration: underline;
}
p {
  padding: 20px;
}

ul, li {
  background-color: rgb(250, 250, 250);
  padding: 20px;
}

header {
  background-color: rgb(250, 250, 250);
  padding-bottom: 10px;
  box-shadow: 0 1px 3px rgb(142, 157, 168);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: rgb(0, 155, 216);
  margin-top: 50px;
}
/*latest projects on index*/
.latestprojects {
  padding: 30px;
  width: 96%;
  color: rgb(0, 155, 216);
}

/*DARKMODE*/
.darkmode footer{
  background-color: black;
  color: white;
}

.darkmode .latestprojects {
  color: rgb(250, 250, 250);
}

.darkmode p {
  color: rgb(250, 250, 250);
}

.darkmode .schools{
color: rgb(250, 250, 250);
background-color: rgb(47, 49, 54);
}

.picture img {
  width: 100%;
}
/*NAVBARRRR*/
/*//////////////////////////////////////////*/
/*//////////////////////////////////////////*/
/*//////////////////////////////////////////*/
.navbar {
  background: rgb(250, 250, 250);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar .responsive {position: relative;}
  .navbar .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*//////////////////////////////////////////*/
/*//////////////////////////////////////////*/
/*//////////////////////////////////////////*/

.Tlogo{
  width:100px;
  height:100px;
  padding: 20px;
  }
/**/
.beginning {
height: 30%
}

@media screen and (max-width: 1234px) {
  .navbar {
    position: absolute;
    text-align: left;
    padding: 8px 8px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .Tlogo{
  width:70px;
  height:70px;
  }
  
  a {
    float: none;
    display: block;
    text-align: left;
    width: 75%;
    padding: 8px 8px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .content p {
    width: 100%;
    font-size: 1em;
  }
  .content img {
    width: 82%;
  }
}


/*......................................................*/
/*......................................................*/
/*......................................................*/
/*CAROUSEl IN INDEX*/
.carousel {
    margin: 0 auto;
    overflow: hidden;
    flex-basis: 80%;
    text-align: center;
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior:smooth;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
  }
  
  .slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    height: 600px;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 48.5%;
  }
  
  .carousel__nav {
    padding: 1.25rem .5rem;
  }
  
  .slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 40%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
  }
  
  .slider-nav:hover,
  .slider-nav:active {
    background-color: #000;
    color: #fff;
  }
  
  .slide-1 {
    background-color: #fdc;
  }
  
  .slide-2 {
    background-color: #bfd;
  }
  
  .slide-3 {
    background-color: #cdf;
  }
  
  .slide-4 {
    background-color: #dca;
  }
  
  .slide-5 {
    background-color: #ffc;
  }
  
  
  .carousel__skip-link {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }
  
  .carousel__skip-link:focus {
    align-items: center;
    background-color: #ddd;
    color: #fff;
    display: flex;
    height: 600px;
    justify-content: center;
    opacity: .8;
    width: 80%;
    z-index: 10;
  }

/*......................................................*/
/*................end of carousel.......................*/
/*......................................................*/

/*Responsive collage*/

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 24.2%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
